{% load static %}
{% with request.resolver_match.view_name as view_name %}
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightsalmon">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts:index' %}">
          <img src="{% static 'img/logo.png' %}" 
          width="30" 
          height="30" 
          class="d-inline-block align-top" 
          alt="">
          <big><span  style="color:red">Ya</span>tube</big>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page {% if view_name == 'posts:profile' %}active{% endif %}"
                   href="{% url 'posts:profile' user.username %}"><b>{{ user.get_full_name }}</b></a>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page {% if view_name == 'posts:post_create' %}active{% endif %}" 
                  href="{% url 'posts:post_create' %}">Новая запись</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'users:password_change' %}active{% endif %}" 
                  href="{% url 'users:password_change_form' %}">Изменить пароль</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'users:logout' %}active{% endif %}" 
                  href="{% url 'users:logout' %}">Выйти</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'users:login' %}active{% endif %}" 
                  href="{% url 'users:login' %}"><b>Войти</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'users:signup' %}active{% endif %}" 
                  href="{% url 'users:signup' %}"><b>Зарегистироваться</b></a>
              </li>
            {% endif %}
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'about:author' %}active{% endif %}"
                  href="{% url 'about:author' %}">Об авторе</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active {% if view_name == 'about:tech' %}active{% endif %}"
                  href="{% url 'about:tech' %}">Технологии</a>
          </ul>
        </div>
      </div>
    </nav>
  </header>
{% endwith %}